@{ Layout = null;}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>SSH -- 0917</title>
    <link href="~/Content/heart.css" rel="stylesheet" />
    <script src="~/Scripts/prefixfree.min.js"></script>
</head>
<body>
    <div class="container bg">
        <div class="hometown">
            <div class="heart">
            </div>
            <div id="top">12-31</div>
            <div class="city">SSH</div>
            <div id="bottom">With love</div>
        </div>
    </div>
    <script src="~/Scripts/jquery.js"></script>
    <script src="~/Scripts/jquery.lettering.js"></script>
    <script type="text/javascript">
        $(function () {
            $("#top").lettering();
            $("#bottom").lettering();
        });
    </script>
</body>
</html>