
@{
    ViewBag.Title = "Nav";
}

<div id="main" class="" style="">
    <div style="position:absolute;width:100%;min-height:100%">
        <div id="works">
            <h1>C’est nouveau</h1>
            <div class="clearfix">
                <div class="work item-1 top large">
                    <a href="http://www.superlovers.fr/creation/blou" data-id="creation/blou" class="internal">
                        <div class="thumb">
                            <div class="color" style="opacity: 1; background: url(http://www.superlovers.fr/wp-content/uploads/work/thumb/1250_large.jpg) 0px 0px no-repeat;"></div>
                            <div class="grayscale" style="background:url(http://www.superlovers.fr/wp-content/uploads/work/thumb/1250_large.jpg) no-repeat 0 100%"></div>
                        </div>
                        <div class="info" style="top: 0px; left: 960px;">
                            <div class="inner">
                                <div class="client">Blou</div>
                                <div class="project-name">Site e-commerce</div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="work item-2 inleft vertical">
                    <a href="http://www.superlovers.fr/creation/polaar-care" data-id="creation/polaar-care" class="internal">
                        <div class="thumb">
                            <div class="color" style="opacity: 1; background: url(http://www.superlovers.fr/wp-content/uploads/work/thumb/885_vertical.jpg) 0px 0px no-repeat;"></div>
                            <div class="grayscale" style="background:url(http://www.superlovers.fr/wp-content/uploads/work/thumb/885_vertical.jpg) no-repeat 0 100%"></div>
                        </div>
                        <div class="info">
                            <div class="inner">
                                <div class="client">Polaar Care</div>
                                <div class="project-name">La véritable<br>crème de Laponie</div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="work item-3 square">
                    <a href="http://www.superlovers.fr/creation/bragard" data-id="creation/bragard" class="internal">
                        <div class="thumb">
                            <div class="color" style="opacity: 1; background: url(http://www.superlovers.fr/wp-content/uploads/work/thumb/887_square.jpg) 0px 0px no-repeat;"></div>
                            <div class="grayscale" style="background:url(http://www.superlovers.fr/wp-content/uploads/work/thumb/887_square.jpg) no-repeat 0 100%"></div>
                        </div>
                        <div class="info">
                            <div class="inner">
                                <div class="client">Bragard</div>
                                <div class="project-name">Site Internet</div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="work item-4 square">
                    <a href="http://www.superlovers.fr/creation/ilosport-by-lequipe" data-id="creation/ilosport-by-lequipe" class="internal">
                        <div class="thumb">
                            <div class="color" style="opacity: 1; background: url(http://www.superlovers.fr/wp-content/uploads/work/thumb/888_square.jpg) 0px 0px no-repeat;"></div>
                            <div class="grayscale" style="background:url(http://www.superlovers.fr/wp-content/uploads/work/thumb/888_square.jpg) no-repeat 0 100%"></div>
                        </div>
                        <div class="info">
                            <div class="inner">
                                <div class="client">Groupe L'Équipe</div>
                                <div class="project-name">Ilosport.fr</div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="work item-5 horizontal">
                    <a href="http://www.superlovers.fr/creation/avis-de-mamans" data-id="creation/avis-de-mamans" class="internal">
                        <div class="thumb">
                            <div class="color" style="opacity: 1; background: url(http://www.superlovers.fr/wp-content/uploads/work/thumb/1040_horizontal.jpg) 0px 0px no-repeat;"></div>
                            <div class="grayscale" style="background:url(http://www.superlovers.fr/wp-content/uploads/work/thumb/1040_horizontal.jpg) no-repeat 0 100%"></div>
                        </div>
                        <div class="info">
                            <div class="inner">
                                <div class="client">Avis de Mamans</div>
                                <div class="project-name">Identité et site internet</div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="clearfix clear">
                    <h2>Découvrez également</h2>
                </div>
                <div class="work item-6 inleft square">
                    <a href="http://www.superlovers.fr/creation/lequipe" data-id="creation/lequipe" class="internal">
                        <div class="thumb">
                            <div class="color" style="opacity: 1; background: url(http://www.superlovers.fr/wp-content/uploads/work/thumb/1332_square.jpg) 0px 0px no-repeat;"></div>
                            <div class="grayscale" style="background:url(http://www.superlovers.fr/wp-content/uploads/work/thumb/1332_square.jpg) no-repeat 0 100%"></div>
                        </div>
                        <div class="info">
                            <div class="inner">
                                <div class="client">L'Équipe</div>
                                <div class="project-name">Formations</div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="work item-7 square">
                    <a href="http://www.superlovers.fr/creation/polaar-edition" data-id="creation/polaar-edition" class="internal">
                        <div class="thumb">
                            <div class="color" style="opacity: 1; background: url(http://www.superlovers.fr/wp-content/uploads/work/thumb/1334_square.jpg) 0px 0px no-repeat;"></div>
                            <div class="grayscale" style="background:url(http://www.superlovers.fr/wp-content/uploads/work/thumb/1334_square.jpg) no-repeat 0 100%"></div>
                        </div>
                        <div class="info">
                            <div class="inner">
                                <div class="client">Polaar</div>
                                <div class="project-name">Édition &amp; Publicité</div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="work item-8 square">
                    <a href="http://www.superlovers.fr/creation/fktv" data-id="creation/fktv" class="internal">
                        <div class="thumb">
                            <div class="color" style="opacity: 1; background: url(http://www.superlovers.fr/wp-content/uploads/work/thumb/1333_square.jpg) 0px 0px no-repeat;"></div>
                            <div class="grayscale" style="background:url(http://www.superlovers.fr/wp-content/uploads/work/thumb/1333_square.jpg) no-repeat 0 100%"></div>
                        </div>
                        <div class="info">
                            <div class="inner">
                                <div class="client">FKTV</div>
                                <div class="project-name">Le site</div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="work item-9 inleft square">
                    <a href="http://www.superlovers.fr/creation/dior" data-id="creation/dior" class="internal">
                        <div class="thumb">
                            <div class="color" style="opacity: 1; background: url(http://www.superlovers.fr/wp-content/uploads/work/thumb/891_square.jpg) 0px 0px no-repeat;"></div>
                            <div class="grayscale" style="background:url(http://www.superlovers.fr/wp-content/uploads/work/thumb/891_square.jpg) no-repeat 0 100%"></div>
                        </div>
                        <div class="info">
                            <div class="inner">
                                <div class="client">Dior</div>
                                <div class="project-name">Capture Totale</div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="work item-10 square">
                    <a href="http://www.superlovers.fr/creation/postercloud" data-id="creation/postercloud" class="internal">
                        <div class="thumb">
                            <div class="color" style="opacity: 1; background: url(http://www.superlovers.fr/wp-content/uploads/work/thumb/1037_square.jpg) 0px 0px no-repeat;"></div>
                            <div class="grayscale" style="background:url(http://www.superlovers.fr/wp-content/uploads/work/thumb/1037_square.jpg) no-repeat 0 100%"></div>
                        </div>
                        <div class="info">
                            <div class="inner">
                                <div class="client">PosterCloud</div>
                                <div class="project-name">Identité et site internet</div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="work item-11 square">
                    <a href="http://www.superlovers.fr/creation/emmanuel-galea" data-id="creation/emmanuel-galea" class="internal">
                        <div class="thumb">
                            <div class="color" style="opacity: 1; background: url(http://www.superlovers.fr/wp-content/uploads/work/thumb/889_square.jpg) 0px 0px no-repeat;"></div>
                            <div class="grayscale" style="background:url(http://www.superlovers.fr/wp-content/uploads/work/thumb/889_square.jpg) no-repeat 0 100%"></div>
                        </div>
                        <div class="info">
                            <div class="inner">
                                <div class="client">Emmanuel Galéa</div>
                                <div class="project-name">Campagne Publicitaire</div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="work item-12 inleft square">
                    <a href="http://www.superlovers.fr/creation/covet-chic" data-id="creation/covet-chic" class="internal">
                        <div class="thumb">
                            <div class="color" style="opacity: 1; background: url(http://www.superlovers.fr/wp-content/uploads/work/thumb/890_square.jpg) 0px 0px no-repeat;"></div>
                            <div class="grayscale" style="background:url(http://www.superlovers.fr/wp-content/uploads/work/thumb/890_square.jpg) no-repeat 0 100%"></div>
                        </div>
                        <div class="info">
                            <div class="inner">
                                <div class="client">Covet Chic</div>
                                <div class="project-name">Identité &amp; Site Internet</div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="work item-13 square">
                    <a href="http://www.superlovers.fr/creation/alliages-groupe-eramet" data-id="creation/alliages-groupe-eramet" class="internal">
                        <div class="thumb">
                            <div class="color" style="opacity: 1; background: url(http://www.superlovers.fr/wp-content/uploads/work/thumb/898_square.jpg) 0px 0px no-repeat;"></div>
                            <div class="grayscale" style="background:url(http://www.superlovers.fr/wp-content/uploads/work/thumb/898_square.jpg) no-repeat 0 100%"></div>
                        </div>
                        <div class="info">
                            <div class="inner">
                                <div class="client">Eramet</div>
                                <div class="project-name">Alliages</div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="work item-14 square">
                    <a href="http://www.superlovers.fr/creation/cape-mentelle" data-id="creation/cape-mentelle" class="internal">
                        <div class="thumb">
                            <div class="color" style="opacity: 1; background: url(http://www.superlovers.fr/wp-content/uploads/work/thumb/897_square.jpg) 0px 0px no-repeat;"></div>
                            <div class="grayscale" style="background:url(http://www.superlovers.fr/wp-content/uploads/work/thumb/897_square.jpg) no-repeat 0 100%"></div>
                        </div>
                        <div class="info">
                            <div class="inner">
                                <div class="client">Cape Mentelle</div>
                                <div class="project-name">Communication digitale</div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="work item-15 inleft square">
                    <a href="http://www.superlovers.fr/creation/le-talmondais" data-id="creation/le-talmondais" class="internal">
                        <div class="thumb">
                            <div class="color" style="opacity: 1; background: url(http://www.superlovers.fr/wp-content/uploads/work/thumb/894_square.jpg) 0px 0px no-repeat;"></div>
                            <div class="grayscale" style="background:url(http://www.superlovers.fr/wp-content/uploads/work/thumb/894_square.jpg) no-repeat 0 100%"></div>
                        </div>
                        <div class="info">
                            <div class="inner">
                                <div class="client">Le Talmondais</div>
                                <div class="project-name">Identité globale</div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="work item-16 square">
                    <a href="http://www.superlovers.fr/creation/haier-digital" data-id="creation/haier-digital" class="internal">
                        <div class="thumb">
                            <div class="color" style="opacity: 1; background: url(http://www.superlovers.fr/wp-content/uploads/work/thumb/1315_square.jpg) 0px 0px no-repeat;"></div>
                            <div class="grayscale" style="background:url(http://www.superlovers.fr/wp-content/uploads/work/thumb/1315_square.jpg) no-repeat 0 100%"></div>
                        </div>
                        <div class="info">
                            <div class="inner">
                                <div class="client">Haier</div>
                                <div class="project-name">Digital &amp; Social</div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="work item-17 square">
                    <a href="http://www.superlovers.fr/creation/haier-publicite" data-id="creation/haier-publicite" class="internal">
                        <div class="thumb">
                            <div class="color" style="opacity: 1; background: url(http://www.superlovers.fr/wp-content/uploads/work/thumb/1316_square.jpg) 0px 0px no-repeat;"></div>
                            <div class="grayscale" style="background:url(http://www.superlovers.fr/wp-content/uploads/work/thumb/1316_square.jpg) no-repeat 0 100%"></div>
                        </div>
                        <div class="info">
                            <div class="inner">
                                <div class="client">Haier</div>
                                <div class="project-name">Édition &amp; Publicité</div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="work item-18 inleft square">
                    <a href="http://www.superlovers.fr/creation/group-n-go" data-id="creation/group-n-go" class="internal">
                        <div class="thumb">
                            <div class="color" style="opacity: 1; background: url(http://www.superlovers.fr/wp-content/uploads/work/thumb/1330_square.jpg) 0px 0px no-repeat;"></div>
                            <div class="grayscale" style="background:url(http://www.superlovers.fr/wp-content/uploads/work/thumb/1330_square.jpg) no-repeat 0 100%"></div>
                        </div>
                        <div class="info">
                            <div class="inner">
                                <div class="client">Group N Go</div>
                                <div class="project-name">Blog &amp; Opérationnel</div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="work item-19 square">
                    <a href="http://www.superlovers.fr/creation/polaar-paris" data-id="creation/polaar-paris" class="internal">
                        <div class="thumb">
                            <div class="color" style="opacity: 1; background: url(http://www.superlovers.fr/wp-content/uploads/work/thumb/886_square.jpg) 0px 0px no-repeat;"></div>
                            <div class="grayscale" style="background:url(http://www.superlovers.fr/wp-content/uploads/work/thumb/886_square.jpg) no-repeat 0 100%"></div>
                        </div>
                        <div class="info">
                            <div class="inner">
                                <div class="client">Polaar Paris</div>
                                <div class="project-name">Identité de marque</div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="work item-20 square">
                    <a href="http://www.superlovers.fr/creation/veuve-clicquot" data-id="creation/veuve-clicquot" class="internal">
                        <div class="thumb">
                            <div class="color" style="opacity: 1; background: url(http://www.superlovers.fr/wp-content/uploads/work/thumb/893_square.jpg) 0px 0px no-repeat;"></div>
                            <div class="grayscale" style="background:url(http://www.superlovers.fr/wp-content/uploads/work/thumb/893_square.jpg) no-repeat 0 100%"></div>
                        </div>
                        <div class="info">
                            <div class="inner">
                                <div class="client">Veuve Clicquot</div>
                                <div class="project-name">Clicq'Up</div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="work item-21 inleft square">
                    <a href="http://www.superlovers.fr/creation/aubert-duval" data-id="creation/aubert-duval" class="internal">
                        <div class="thumb">
                            <div class="color" style="opacity: 1; background: url(http://www.superlovers.fr/wp-content/uploads/work/thumb/1251_square.jpg) 0px 0px no-repeat;"></div>
                            <div class="grayscale" style="background:url(http://www.superlovers.fr/wp-content/uploads/work/thumb/1251_square.jpg) no-repeat 0 100%"></div>
                        </div>
                        <div class="info">
                            <div class="inner">
                                <div class="client">Aubert &amp; Duval</div>
                                <div class="project-name">Communication corporate</div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="work item-22 square">
                    <a href="http://www.superlovers.fr/creation/orange" data-id="creation/orange" class="internal">
                        <div class="thumb">
                            <div class="color" style="opacity: 1; background: url(http://www.superlovers.fr/wp-content/uploads/work/thumb/892_square.jpg) 0px 0px no-repeat;"></div>
                            <div class="grayscale" style="background:url(http://www.superlovers.fr/wp-content/uploads/work/thumb/892_square.jpg) no-repeat 0 100%"></div>
                        </div>
                        <div class="info">
                            <div class="inner">
                                <div class="client">Orange</div>
                                <div class="project-name">Fanfan 2</div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="work item-23 square">
                    <a href="http://www.superlovers.fr/creation/wabiness" data-id="creation/wabiness" class="internal">
                        <div class="thumb">
                            <div class="color" style="opacity: 1; background: url(http://www.superlovers.fr/wp-content/uploads/work/thumb/895_square.jpg) 0px 0px no-repeat;"></div>
                            <div class="grayscale" style="background:url(http://www.superlovers.fr/wp-content/uploads/work/thumb/895_square.jpg) no-repeat 0 100%"></div>
                        </div>
                        <div class="info">
                            <div class="inner">
                                <div class="client">Wabiness</div>
                                <div class="project-name">Identité &amp; site Internet</div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="work item-24 inleft large">
                    <a href="http://www.superlovers.fr/creation/moet-hennessy" data-id="creation/moet-hennessy" class="internal">
                        <div class="thumb">
                            <div class="color" style="opacity: 1; background: url(http://www.superlovers.fr/wp-content/uploads/work/thumb/1042_large.jpg) 0px 0px no-repeat;"></div>
                            <div class="grayscale" style="background:url(http://www.superlovers.fr/wp-content/uploads/work/thumb/1042_large.jpg) no-repeat 0 100%"></div>
                        </div>
                        <div class="info">
                            <div class="inner">
                                <div class="client">Moët Hennessy</div>
                                <div class="project-name">mh.biz</div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="backtopcontainer"><div class="back-top-white back-top-white-works"><svg height="63" version="1.1" width="50" xmlns="http://www.w3.org/2000/svg" style="overflow: hidden; position: relative;"><desc style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">Created with Raphaël 2.1.2</desc><defs style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></defs><path fill="#e40a5c" stroke="#e40a5c" d="M0,16L25,0L50,16L50,46L25,62L0,46L0,16Z" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path></svg><a href="#" class="back-top"></a></div></div>
        </div>
    </div>
</div>

<div id="wpcf7-error-output" style="display: none;">
    <div class="output" style="display:none;">
        <p><strong>Erreur de validation</strong> <em>Veuillez vérifier les champs et soumettre à nouveau.</em></p>
        <a href="#" class="close hover-img-color"><img src="//www.superlovers.fr/wp-content/themes/superlovers_2013/img/button-close.png" alt="Fermer"></a>
    </div>
</div>

