<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script async="" data-rocketsrc="//www.google-analytics.com/analytics.js" data-rocketoptimized="true"></script>
    <script type="text/javascript">
try{if (!window.CloudFlare) {var CloudFlare=[{verbose:0,p:0,byc:0,owlid:"cf",bag2:1,mirage2:0,oracle:0,paths:{cloudflare:"/cdn-cgi/nexp/dok3v=1613a3a185/"},atok:"9712fa70f6cbb94a3831a80fe03f7aa3",petok:"6e8b007f1f160cd44d98bc63d1e523d477a83103-1453269910-1800",zone:"superlovers.fr",rocket:"a",apps:0,sha2test:0}];document.write('<script type="text/javascript" src="//ajax.cloudflare.com/cdn-cgi/nexp/dok3v=38857570ac/cloudflare.min.js"><'+'\/script>');}}catch(e){};
    </script>
    <style type="text/css">
        .cf-hidden {
            display: none;
        }

        .cf-invisible {
            visibility: hidden;
        }
    </style>
    <script data-module="cloudflare/rocket" id="cfjs_block_63a8c549aa" onload="CloudFlare.__cfjs_block_63a8c549aa_load()" onerror="CloudFlare.__cfjs_block_63a8c549aa_error()" onreadystatechange="CloudFlare.__cfjs_block_63a8c549aa_readystatechange()" type="text/javascript" src="~/Scripts/rocket.js"></script>

    <link href="~/Content/HomeStyle.css" rel="stylesheet" />
    @*<script src="~/Scripts/rocket.js"></script>*@
    <script src="~/Scripts/script.js"></script>
    <script src="~/Scripts/raphaelmin.js"></script>
    <script src="~/Scripts/cloudflare.min.js"></script>
    <script type="text/javascript" src="chrome-extension://fhhdlnnepfjhlhilgmeepgkhjmhhhjkh/js/detector.js"></script>
</head>
<body class="home blog pink black reduce" data-color="pink" ryt11824="1">
    <div id="container" class="superlovers">
        <div class="pikeorgotocontent" style="margin-bottom: 0px;"><svg height="62" version="1.1" width="50" xmlns="http://www.w3.org/2000/svg" style="overflow: hidden; position: relative; left: -0.5px;"><desc style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">Created with Raphaël 2.1.2</desc><defs style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></defs><path fill="#ffffff" stroke="#ffffff" d="M15,29L25,22L35,29L35,43L25,43L15,43L15,29Z" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><path fill="#e40a5c" stroke="#e40a5c" d="M15,29L25,22L35,29L35,43L25,43L15,43L15,29Z" stroke-width="1" class="pikesvg" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path></svg><span class="arrow" style="opacity: 0;"></span></div>
        <div id="head" class="header">
            <div id="logo" class="logosvg">
                <svg height="419" version="1.1" width="619" xmlns="http://www.w3.org/2000/svg" style="overflow: hidden; position: relative; left: -0.5px;"><desc style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">Created with Raphaël 2.1.2</desc><defs style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></defs><path fill="#e40a5c" stroke="#e40a5c" d="M0,0L0,96L120,127L240,96L240,0Z" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path></svg>
                <h1 id="site-title">
                    <a href="http://www.superlovers.fr/" class="internal" data-id="home">
                        <img src="~/Image/Logo/logo.png" alt="Superlovers" class="" data-color="pink">
                        <img src="~/Image/Logo/logo.png" data-color="blue" class="current" style="">
                        <img src="~/Image/Logo/logo.pngg" data-color="green" class="" style="">
                        <img src="~/Image/Logo/logo.png" data-color="orange" class="" style="">
                        <img src="~/Image/Logo/logo.png" alt="Superlovers" class="" data-color="pink">
                    </a>
                </h1>
                <div id="heading-phrase">
                    <ul>
                        <li class="" style="opacity: 1;">
                            fabriqué en France
                        </li>
                        <li class="" style="opacity: 1;">we get it right</li>
                        <li class="" style="opacity: 1;">
                            we are born to dance
                        </li>
                        <li class="current" style="opacity: 1;">
                            workshop &amp; more
                        </li>
                        <li class="" style="opacity: 1;">
                            mot compte-triple
                        </li>
                        <li class="" style="opacity: 1;">
                            plaisir en onze lettres
                        </li>
                        <li class="" style="opacity: 1;">
                            we are born to love
                        </li>
                        <li class="" style="opacity: 1;">
                            since MMX
                        </li>
                        <li class="" style="opacity: 1;">
                            we are born to rock
                        </li>
                    </ul>
                </div>
                <a href="#" class="close-work"><img src="//www.superlovers.fr/wp-content/themes/superlovers_2013/img/button-close-work.png" alt=""></a>
                <div class="loaderajax" style="display: none; background-position: -750px 0px;"> </div>
            </div>
            <div id="nav-main" class="nav">
                <div class="background off" style="opacity: 0;"></div>
                <ul class="part-one">
                    <li class="first">
                        <a href="http://www.superlovers.fr/studio" class="internal" data-id="studio">Le studio</a>
                    </li>
                    <li class="last">
                        <a href="http://www.superlovers.fr/creations" class="internal current" data-id="creations">Créations</a>
                    </li>
                </ul>
                <ul class="part-two">
                    <li class="first">
                        <a href="http://www.superlovers.fr/references" class="internal" data-id="references">Références</a>
                    </li>
                    <li class="last">
                        <a href="http://www.superlovers.fr/contact" class="internal" data-id="contact">Contact</a>
                    </li>
                </ul>
            </div>
        </div>

        @RenderBody()

        <div id="foot" class="footer">
            <div class="minwidth" style="width: auto;">
                <div class="left">
                    <div id="widget-socials">
                        <ul>
                            <li><a class="facebook" href="http://www.facebook.com/we.are.superlovers" target="_blank" rel="external"></a></li>
                            <li><a class="twitter" href="http://twitter.com/_superlovers" target="_blank" rel="external"></a></li>
                        </ul>
                    </div>
                </div>
                <div class="center">
                    <div id="widget-contact">
                        <ul class="clearfix">
                            <li class="first"><span>A</span> <a href="https://www.google.fr/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=superlovers&amp;aq=&amp;sll=48.858859,2.34706&amp;sspn=0.452659,0.606995&amp;vpsrc=0&amp;ie=UTF8&amp;hq=superlovers&amp;hnear=&amp;t=m&amp;z=11&amp;iwloc=A&amp;cid=12630706879325186342" target="_blank">97 rue d'Aboukir - 75002 Paris</a></li>
                            <li><span>T</span> +33 1 83 64 76 74</li>
                            <li class="last"><span>E</span> <a href="mailto:bonjour@superlovers.fr">bonjour@superlovers.fr</a></li>
                        </ul>
                    </div>
                </div>
                <div class="right">
                    <div id="copyright">
                        © Superlovers 2016
                    </div>
                </div>
            </div>

        </div>
        <div id="page-loader"></div>
    </div>

    <div id="tablettes-portrait">
        <div class="output">
            <div class="title">WAKE UP<br>AND DANCE</div>
            <div class="animcontainer">
                <div id="pH9gJwt9S-an-anim">
                    <ol>
                        <li id="pH9gJwt9S-an-scene-0">
                            <div class="pH9gJwt9S-an-stage">
                                <div id="pH9gJwt9S-an-obj-1"><div><img height="386" width="599" src="//www.superlovers.fr/wp-content/themes/superlovers_2013/img/new/layer-devices-assets/tab.png"></div></div>
                                <div id="pH9gJwt9S-an-obj-2"><div><img height="71" width="316" src="//www.superlovers.fr/wp-content/themes/superlovers_2013/img/new/layer-devices-assets/logo.png"></div></div>
                            </div>
                        </li>
                    </ol>
                </div>
            </div>
            <p>Un quart de tour à droite<br>et vous pourrez profiter au mieux de notre univers !</p>
        </div>
        <a href="#" class="close">J’y vais<br>quand même</a>
    </div>

    <script type="text/rocketscript" data-rocketsrc="//www.superlovers.fr/wp-content/themes/superlovers_2013/js/jquery-1.8.3.min.js?ver=1" data-rocketoptimized="true"></script>
    <script type="text/rocketscript" data-rocketsrc="//www.superlovers.fr/wp-content/plugins/contact-form-7/includes/js/jquery.form.min.js?ver=3.32.0-2013.04.03" data-rocketoptimized="true"></script>
    <script type="text/rocketscript" data-rocketoptimized="true">
        /* <![CDATA[ */
        var _wpcf7 = {"loaderUrl":"http:\/\/www.superlovers.fr\/wp-content\/themes\/superlovers_2013\/img\/ajax-loader.gif","sending":"Envoi en cours ...","cached":"1"};
        /* ]]> */
    </script>
    <script type="text/rocketscript" data-rocketsrc="//www.superlovers.fr/wp-content/plugins/contact-form-7/includes/js/scripts.js?ver=3.4.1" data-rocketoptimized="true"></script>
    <script type="text/rocketscript" data-rocketsrc="//www.superlovers.fr/wp-content/themes/superlovers_2013/js/raphaelmin.js?ver=1" data-rocketoptimized="true"></script>
    <script type="text/rocketscript" data-rocketoptimized="true">
        /* <![CDATA[ */
        var Superlovers = {"homeurl":"http:\/\/www.superlovers.fr"};
        /* ]]> */
    </script>
    <script type="text/rocketscript" data-rocketsrc="//www.superlovers.fr/wp-content/themes/superlovers_2013/js/script.js?ver=3" data-rocketoptimized="true"></script>
    <script type="text/rocketscript" data-rocketoptimized="true">
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-18544764-2', 'auto');
        ga('send', 'pageview');

    </script>
</body>
</html>
